#navbar {
  position: fixed;
  display: flex;
  top: 0;
  width: 100vw;
  background-color: #333;
  color: white;
  padding: 5px;
  text-align: center;
  justify-content: space-around;
  z-index: 5;
  letter-spacing: 5px;
}
a :hover {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 7px;
}
@media screen and (max-width: 1024px) {
  #navbar {
    letter-spacing: 0px;
    flex-wrap: wrap;
  }
}
